$cor-primaria: #0984E3;
$cor-secundaria: #F29C2B;
$cor-destaque: #487EB0;
$cor-background: #F5F6FA;
$cor-sombra: #00000030;

$cor-titulo: #487EB0;
$cor-texto: #00000070;
$cor-texto-dark: #FFFFFF;
$cor-card: #FFFFFF;
$cor-borda: #DDDFE6;
$cor-dinheiro: #F1C40F;

$cor-header: #F4F5F9;
$cor-main: #FFFFFF;
$cor-footer: #F4F5F9;

$cor-sucesso: #2ECC71;
$cor-falha: #E74C3C;

$cor-habilitado: #27ae60;
$cor-desabilitado: #e74c3c;

$cor-track-scroll: #F5F6Fa;
$cor-handle-scroll: $cor-primaria;
$cor-hover-scroll: $cor-titulo;
