@font-face {
    font-family: Rajdhani;
    src: url(../assets/fonts/Rajdhani/Rajdhani-Light.ttf);
    font-weight: lighter;
}
@font-face {
    font-family: Rajdhani;
    src: url(../assets/fonts/Rajdhani/Rajdhani-Medium.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Rajdhani;
    src: url(../assets/fonts/Rajdhani/Rajdhani-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: LetterGothic;
    src: url(../assets/fonts/LetterGothic/LetterGothic-Bold.otf);
}
