.ank-navbar {
    min-height: 45px;
}
.ank-main {
    position: relative;
    height: calc(100% - 45px);

    .vs-sidebar {
        z-index: 999;
    }

    &--sidebar {
        height: 100%;
        min-width: 55px;

        .ank-sidebar-header {
            position: relative;
            height: 50px;

            &--content {
                position: absolute;
                top: calc(100% - 50px);
                left: calc(50% - 25px);
                width: 100%;
            }
        }

        .ank-sidebar--footer {
            button {
                width: 100% !important;
            }
        }

        ::-webkit-scrollbar {
            width: 0px;
        }
    }

    &--content {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 55px;
        right: 0px;
        background-color: $cor-background;
    }
}
